.advantages {
  box-shadow: inset 1px 295px 368px black, -3px -35px 47px black;
  background-repeat: no-repeat;
  background-position: 50% -190%;
  margin-top: 5rem;
  padding-top: 2rem;

  &__title {
    font-size: 2.5rem;
    text-align: center;
    position: relative;


    &::before {
      content: "";
      position: absolute;
      @include png-sprite($icon-bulletRight);
      top: 50%;
      transform: translate(-10%, -50%);
      left: 0;
    }

    &::after {
      content: "";
      position: absolute;
      @include png-sprite($icon-bulletLeft);
      top: 50%;
      transform: translate(10%, -50%);
      right: 0;
    }
  }

  &__wrap {
    text-align: center;
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0;
    flex-wrap: wrap;
  }


  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-width: 300px;
    margin: 1.6%;

    &-icon {
    }

    &-title {
      font-size: 2rem;
      margin: 0;
    }

    &-description {
      text-align: center;
      font-size: 1rem;
      line-height: 1.4em;
      max-width: 19rem;
      margin-bottom: 1rem;
    }
  }

  &__card {
    border: 2px dashed #ffffff;
    border-radius: 10%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem 3rem;

    &-title {
      text-transform: uppercase;
      font-size: 2rem;
      margin: 0;
    }

    &-text {
      margin-bottom: 2rem;
      margin-top: 0.4rem;
    }

    &-btn {
      font-size: 1.3rem;
      background-color: #81121d;
      border: 2px solid #ffffff;
      border-radius: 1em;
      text-transform: uppercase;
      color: #ffffff;
      padding: 1em 2em;
      font-weight: bold;
    }
  }
}