.advantages {
  box-shadow: inset 1px 295px 368px black, -3px -35px 47px black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  min-height: 1024px;
  margin-top: 5rem;
  padding-top: 2rem;

  &__title {
    font-size: 2.5rem;
    text-align: center;
    position: relative;
    text-transform: uppercase;

    &-wrap {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }

    &-icon {
      height: 0.8rem;
    }
  }



  &__wrap {
    text-align: center;
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 2rem;
    grid-row-gap: 3rem;
    padding: 0;
    flex-wrap: wrap;
  }


  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-width: 300px;
    margin: 1.6%;

    &-icon {
    }

    &-title {
      font-size: 2rem;
      margin: 0;
    }

    &-description {
      text-align: center;
      font-size: 1rem;
      line-height: 1.4em;
      max-width: 19rem;
      margin-bottom: 1rem;
    }
  }

  &__card {
    border: 1px dashed #ffffff;
    border-radius: 10%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem 3rem;

    &-title {
      text-transform: uppercase;
      font-size: 2rem;
      margin: 0 0.5em;
    }

    &-text {
      margin-bottom: 2rem;
      margin-top: 0.4rem;
    }

    &-btn {
      font-size: 1rem;
      background: none;
      border: 3px solid #81121d;
      border-radius: 1em;
      text-transform: uppercase;
      color: #ffffff;
      padding: 5% 10%;
      font-weight: bold;
      margin: 0.5em;
      transition: 0.3s;

      &:hover, &:focus {
        background-color: #81121d;
      }
    }
  }
}