body {
  background-color: black;
  color: white;
}

html ,body {
  font-family: "Akrobat";
  font-size: 100% !important;
  margin: 0;
}

.container {
  max-width: 1520px;
  margin: 0 auto;
  padding: 0 20px;
}

svg {
  fill: currentColor;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

button {
  cursor: pointer;
}