.header {
  z-index: 200;
  &__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    &-wrap {
      display: flex;
      align-items: center;
      flex: 1 0 auto;
    }

    &-link {
      display: flex;
      text-decoration: none;
    }

    &-img {
      width: 100%;
      max-width: 195px;
      transition: 0.3s;

      &:hover, &:focus {
        opacity: 0.5;
      }
    }

    &-text {
      color: white;
      margin-left: 2%;
      font-size: 1.5rem;
      font-weight: 200;
    }
  }

  &__nav {
    display: flex;
    justify-content: center;

    &-list {
      display: flex;
      list-style-type: none;
    }

    &-item {
      margin: 0.5rem;

      a {
        font-size: 1rem;
        color: white;
        text-decoration: none;
      }
    }
  }

  &__phone {
    width: 7rem;
    margin: 0 1rem;

    a {
      text-decoration: none;
      color: white;
      transition: 0.3s;

      &:hover, &:focus {
        color: red;
      }
    }
  }

  &__social {
    &-list {
      display: flex;
      list-style-type: none;
    }

    &-item {
      svg {
        transition: 0.3s;
      }

      a {
        color: white;
        margin: 0.3rem;

        &:hover, &:focus {
          color: red;
        }
      }
    }
  }
}