<section class="hero" style="background-image: url('images/heroBG.jpg')">
    <div class="hero__titles">
        <h2 class="hero__titles-main">{{ main }}</h2>
        <h3 class="hero__titles-sub">{{ sub }}</h3>
        <p class="hero__titles-text">{{ text }}</p>
        <a href="#" class="hero__titles-link">{{ link }}</a>
    </div>
</section>