@font-face {
  font-family: "Akrobat";
  src: url("../fonts/Akrobat-Regular.ttf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Akrobat";
  src: url("../fonts/Akrobat-ExtraBold.ttf");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "Akrobat";
  src: url("../fonts/Akrobat-Light.ttf");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Akrobat";
  src: url("../fonts/Akrobat-ExtraLight.ttf");
  font-style: normal;
  font-weight: 200;
}