$icon-inst: 0px 37px 0px -37px 43px 43px 104px 80px 'sprite.png';
$icon-phone: 51px 30px -51px -30px 29px 31px 104px 80px 'sprite.png';
$icon-vk: 51px 0px -51px 0px 53px 30px 104px 80px 'sprite.png';
$icon-youtb: 0px 0px 0px 0px 51px 37px 104px 80px 'sprite.png';
