$icon-bulletLeft: 0px 0px 0px 0px 329px 12px 329px 104px 'sprite.png';
$icon-bulletRight: 0px 12px 0px -12px 329px 12px 329px 104px 'sprite.png';
$icon-inst: 0px 61px 0px -61px 43px 43px 329px 104px 'sprite.png';
$icon-phone: 43px 61px -43px -61px 29px 31px 329px 104px 'sprite.png';
$icon-vk: 51px 24px -51px -24px 53px 30px 329px 104px 'sprite.png';
$icon-youtb: 0px 24px 0px -24px 51px 37px 329px 104px 'sprite.png';
